<div class="row">
<div class="col-md-4">
<p>Type in your birthdate to find out your numerology number!</p>
</div>
<form class="col-md-3" action="/" method="post">
<% if @error%>
	<div class="alert alert-danger" role="alert"><%= @error %></div>
<% end %>
<div class="form-group"><label for="birthdate">Enter your birthdate</label> 
<input class="form-control" name="birthdate" type="text" /></div><br /><br />
<input class="btn btn-default" type="submit" />
 
</form></div>